<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>City API</title>
    {{> head}}
    
</head>
<body>
    {{> nav}}

    <div class="container">
        {{{body}}}
    </div>
    {{> scripts}}
</body>
</html>

